.parent-form {
  margin: 100px auto;
  background-color: #f1f1f1;
  width: 530px;
  padding: 20px 30px 50px;
  button{
  
    margin: 30px 0 0;
    padding: 9px;
    font-weight: 700;
    font-family: 'Nunito';
    border: 0;
    background: #89ff89;
    width: 130px;
    cursor: pointer;
  }
  h1 {
    font-weight: 800;
    font-size: 28px;
    color: #303030;
  }
  h2 {
    font-weight: 800;
    font-size: 16px;
    color: #303030;
  }
  
}

